{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block head %} {% block meta_title %}
افزودن مقاله ی جدید
{% endblock %} {% endblock %}


{% block main %}
<!-- Security token -->
<div class="col-md-8" style="margin: auto">
    <!-- general form elements -->
    <div class="card card-danger" style="background-color: #dde4ec; text-align: center; margin: 5px">
        <div class="card-header" >
            <h3 class="card-title" style="float: initial">حذف مقاله</h3>
        </div>
        <form method="post">{% csrf_token %}
            <p style="margin: 25px">آیا از حذف مقاله {{ object }} نوشته شده توسط {{ object.author.get_full_name}} مطمئن هستید؟؟؟</p>
            {{ form }}
            <input type="submit" class="btn btn-danger" style="margin: 15px" value="حذف">
        </form>
    </div>
</div>

{% endblock %}


