{% extends 'registration/login.html' %}
{% load static %}
{% load widget_tweaks %}

{% block form %}
    <form class="login100-form validate-form" method="post">
						{% csrf_token %}
						<span class="login100-form-title p-b-26">
							ایجاد گذرواژه جدید
						</span>
						<span class="login100-form-title p-b-48">
							<i class="zmdi zmdi-font"></i>
						</span>
                        {% if validlink %}
						<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
                            {{ form.new_password1.errors }}
							{{ form.new_password1 | add_class:'input100' }}
							<span class="focus-input100" data-placeholder="گذرواژه جدید"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate="Enter password">
							<span class="btn-show-pass">
								<i class="zmdi zmdi-eye"></i>
							</span>
                            {{ form.new_password2.errors }}
							{{ form.new_password2 | add_class:'input100' }}
							<span class="focus-input100" data-placeholder="تایید گذرواژه'"></span>
						</div>
						<div class="container-login100-form-btn">
							<div class="wrap-login100-form-btn">
								<div class="login100-form-bgbtn"></div>
								<button class="login100-form-btn" type="submit">
									تایید
								</button>
							</div>
                            {% else %}
                                <p>لینک منقضی شده است لطفا دوباره درخواست <a href="{% url 'password_reset' %}">بازیابی گذرواژه</a> بدهید.</p>
                            {% endif %}
						</div>
					</form>
{% endblock %}


