{% extends 'registration/login.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} reset password {% endblock %}

{% block form %}
	<form class="login100-form validate-form" method="post">
		{% csrf_token %}
		<span class="login100-form-title p-b-26">
							بازیابی گذرواژه
						</span>
		<span class="login100-form-title p-b-18">
							<i class="zmdi zmdi-font"></i>
						</span>
		<p class="p-b-28">گذرواژه خود را فراموش کرده اید؟ آدرس ایمیل خود را وارد کنید و ما مراحل تعیین کلمه عبور جدید را برای شما ایمیل می‌کنیم.</p>
		<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
			{{ form.email | add_class:'input100' }}
			<span class="focus-input100" data-placeholder="ایمیل"></span>
		</div>

		<div class="container-login100-form-btn">
			<div class="wrap-login100-form-btn">
				<div class="login100-form-bgbtn"></div>
				<button class="login100-form-btn" type="submit">
					بازیابی
				</button>
			</div>
		</div>
	</form>
{% endblock %}


