{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block head %} {% block meta_title %}
 ایجاد گذرواژهٔ جدید
{% endblock %} {% endblock %}


{% block main %}
<!-- Security token -->
<div class="col-md-8" style="margin: auto">
    <!-- general form elements -->
    <div class="card card-success" style="background-color: #dde4ec; text-align: center; margin: 5px">
        <div class="card-header" >
            <h3 class="card-title" style="float: initial">تقاضای بازیابی رمز ورود فرستاده شد</h3>
        </div>
        <form method="post">{% csrf_token %}
            <p style="margin: 25px">دستورالعمل تنظیم گذرواژه را برایتان ایمیل کردیم. اگر با ایمیلی که وارد کردید اکانتی وجود داشته باشد باید به زودی این دستورالعمل‌ها را دریافت کنید.
اگر ایمیلی دریافت نمی‌کنید، لطفاً بررسی کنید که آدرسی که وارد کرده‌اید همان است که با آن ثبت نام کرده‌اید، و پوشهٔ اسپم خود را نیز چک کنید.</p>
        </form>
    </div>
</div>

{% endblock %}
