{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block head %} {% block meta_title %}
   تغییر گذرواژه
{% endblock %} {% endblock %}


{% block main %}
<!-- Security token -->
<div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary" style="background-color: #dde4ec;">
        <div class="card-header">
            {% if request.resolver_match.kwargs.pk %}
                <h3 class="card-title float-left">تغییر گذرواژه</h3>
            {% else %}
                <h3 class="card-title float-left">تغییر گذرواژه</h3>
            {% endif %}
        </div>
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                {{ form.old_password|as_crispy_field }}
            </div>
        </div>
            <div class="row">
            <div class="col-6">
                {{ form.new_password1|as_crispy_field }}
            </div>
            <div class="col-6">
               {{ form.new_password2|as_crispy_field }}
            </div>
        </div>
        <!-- Using the formset -->
            <div class="card-footer">
                <button type="submit" class="btn btn-success"  >تغییر گذرواژه</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}


