{% load comment_tags %}
{% load i18n %}



<div id="{{ comment.urlhash }}" class="col-12 media-comment-bubble media-comment-bubble.left-top:after js-updated-comment {% if comment.has_flagged_state %}flagged-comment {% endif %}{% block content_wrapper_cls %}{% if has_valid_profile %}col-9 col-md-10{% else %}co-11 mx-3{% endif %}{% endblock content_wrapper_cls %}" >
        {% if comment.user %}
        <div class="user-panel pb-3 d-flex">
        <div class="image">
          <img src=" {{ comment.user.profile_img.url }} " class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="{% url 'acount:profile' %}" class="d-block">
              {{ comment.user.get_full_name }}
          {% if comment.user.is_author %}
            <span class="badge badge-pill badge-warning" style="font-size: 12px">نویسنده</span>
            {% endif %}
          </a>
        </div>
        </div>
    {% else %}
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="images/avatar5.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <span class="d-block"> ناشناس </span>
        </div>
        </div>
    {% endif %}

    {% block comment_content %}
    {% render_content comment %}
    {% endblock comment_content %}
    {% get_username_for_comment comment as username %}
    <div class="{% block footer_wrapper_cls %}mt-2 text-muted footer{% endblock footer_wrapper_cls %}">
        <small>
            {% get_profile_url comment as profile_url %}
            <{% if comment.user %}a{% else %}span{% endif %}


            </{% if comment.user %}a{% else %}span{% endif %}>
            {% if comment.is_edited %}
                <span class="font-italic" title="{% trans 'Edited' %}">{% blocktrans with edited_time=comment.edited|timesince %} {{ edited_time }} ویرایش شده:  قبل {% endblocktrans %}</span>
            {% else %}
                <span class="font-italic" title="{% trans 'Posted' %}">{% blocktrans with posted_time=comment.posted|timesince %} {{ posted_time }} قبل {% endblocktrans %}</span>
            {% endif %}
            {% can_delete_comment comment user as can_delete %}
            {% if comment.user == user %}
                | {% include 'comment/comments/edit_icon.html' %}
                {% include 'comment/comments/delete_icon.html' %}
            {% elif can_delete %}
                | {% include 'comment/comments/delete_icon.html' %}
                {% if comment.is_flagged %}
                    {% include 'comment/comments/reject_icon.html' %}
                    {% if comment.is_edited %}
                        {% include 'comment/comments/resolve_icon.html' %}
                    {% endif %}
                {% endif %}
            {% endif %}
            {% if user|can_block_users %}
                {% include 'comment/block/block_icon.html' %}
            {% endif %}
            {% if comment.is_parent %}
                {% get_replies_count comment user as reply_count %}
                |
                <a class="js-reply-link {% block reply_link_cls %}btn btn-link ml-1{% endblock reply_link_cls %}" href="#">
                    {% blocktrans count reply_count=reply_count %} پاسخ {% plural %} پاسخ ها {% endblocktrans %}
                </a>
                <span class="js-reply-number {% block reply_count_cls %}text-dark{% endblock reply_count_cls %}">{{ reply_count }}</span>
                {% if comment.user == user and is_subscription_allowed %}
                    <div class="{% block follow_icon_wrapper_cls %}d-inline ml-3{% endblock follow_icon_wrapper_cls %}">
                        {% include 'comment/follow/follow.html' with model_object=comment btnId=comment.id %}
                    </div>
                {% endif %}
            {% endif %}
        </small>
        {% include "comment/reactions/reactions.html" with comment=comment %}
    </div>
</div>

