{% extends 'blog/base.html' %}
{% load static %}


{% block  header %}
    <header class="masthead" style="background-image: url('{{ object.image.url }}')">
        <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{ object.title }}</h1>
                            <h2 class="subheading">{{ object.content | striptags | truncatechars:70 }}</h2>
                            <span class="meta">
                                نوشته شده توسط
                                <a href="#!">رضا </a>
                                {{ object.jpublish | linebreaks }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}

{% block main %}
     <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7 text-justify">
                        {{ object.content | safe | linebreaks }}
                    </div>
                </div>
            </div>
        </article>
{% endblock %}