{% load i18n %}

<section id="demos">
    <div class="row">
        <div class="large-12 columns">
            <div class="owl-carousel owl-theme">
                {% for article in articles %}
                    <div class="item">
                        {{ article.image_post }}
                        <p>{{ article.title }}</p>
                    </div>
                {% endfor %}
            </div>
            <a class="button secondary play">{% translate "Play" %}</a>
            <a class="button secondary stop">{% translate "Stop" %}</a>

</code></pre>
            <script>
                $(document).ready(function () {
                    var owl = $('.owl-carousel');
                    owl.owlCarousel({
                        items: 4,
                        loop: true,
                        margin: 10,
                        autoplay: true,
                        autoplayTimeout: 1000,
                        autoplayHoverPause: true
                    });
                    $('.play').on('click', function () {
                        owl.trigger('play.owl.autoplay', [1000])
                    })
                    $('.stop').on('click', function () {
                        owl.trigger('stop.owl.autoplay')
                    })
                })
            </script>
        </div>
    </div>
</section>

